lang en_US.UTF-8
keyboard us
timezone UTC --utc

zerombr
clearpart --all --initlabel --disklabel=gpt
autopart --noswap

network --bootproto=dhcp --device=link --activate

bootc --source-imgref=registry:ghcr.io/burmistery/fedorium:latest --target-imgref=ghcr.io/burmistery/fedorium:latest

%post --erroronfail --nochroot
set -xeuo pipefail

# move home to subvol=home
device=$(awk '$2 == "/" {print $1}' /proc/mounts)

mount -m -t btrfs -o subvol=home -L fedora_fedora /tmp/home
cp -ra /mnt/sysroot/var/home/. /tmp/home
umount /tmp/home
%end

%post --erroronfail
set -xeuo pipefail

# fix fstab
sed -i '\|^[^#].*[[:space:]]/[[:space:]]|d' /etc/fstab

# add user to greeter group
user=$(awk -F':' '$3 >= 1000 && $3 < 60000 && $1 != "nobody" {print $1; exit}' /etc/passwd)
[ -n "$user" ] && usermod -aG greeter "$user"
%end
