[Desktop Entry]
Name=Yazi
Comment=Terminal file manager
Exec=kitty --class yazi -e yazi %U
Terminal=false
Type=Application
MimeType=inode/directory;
Categories=FileManager;System;FileTools;
